<div class="nk-footer">
  <div class="container-xl wide-xl">
    <div class="nk-footer-wrap">
      <div class="nk-footer-copyright"> &copy; 2024 Michael Enterprise. All Rights Reserved</div>
      <div class="nk-footer-links">
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


<script src="../assets/js/bundle.js%3Fver=3.2.3"></script>
<script src="../assets/js/scripts.js%3Fver=3.2.3"></script>
<script src="../assets/js/demo-settings.js%3Fver=3.2.3"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/assets/js/api.js"></script>
</body>

</html>