<!-- jquery -->
<script src="/assets/plugins/jquery/jquery.min.js"></script>
<!-- bootstrap -->
<script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jquery.validate -->
<script src="/assets/plugins/validator/jquery.validate.js"></script>
<script src="/assets/plugins/validator/validator-init.js"></script>
<!-- venobox -->
<script src="/assets/plugins/venobox/venobox.min.js"></script>
<!-- scripts -->
<script src="/assets/js/scripts.js"></script>
<script>
  $('.venobox').venobox();
</script>
<!-- Add this JavaScript snippet at the end of your HTML body or inside a script tag -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Show the modal automatically after page load
    setTimeout(function() {
      const modal = new bootstrap.Modal(document.getElementById('myModal-1'));
      modal.show();
    }, 1000); // Adjust the delay as needed (1000 ms = 1 second)
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/assets/js/api2.js"></script>

</body>

</html>