<!DOCTYPE html>
<html lang="zxx">

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Michael Enterprise offers a unique shopping experience combining Afrocentric products, innovative gadgets, stylish kitchen essentials, and reliable exchange services—delivering quality, variety, and customer satisfaction in one place.">
  <meta name="keywords" content="afro shop, gadgets, michael gadgets, michael enterprise, kitchen, food, restaurant, kitchen, restaurants, eateries, russia, rubbles, naira, naira, rubbles, exchange, currency, money, afro lifestyle, afro food, afro food stuff, Afrocentric products">
  <meta name="author" content="Eze Raphael">
  <!-- Page Title -->
  <title>Michael Enterprise | <%= title %></title>
  <!-- Favicon Icon -->
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/fav1.png">
  <!-- Google Fonts Css-->

  <meta property="og:title" content="Michael Enterprise" />
  <meta property="og:url" content="https:michael-enterprise.com" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/assets/images/logo-01.png" />
  <meta property="og:description" content="Michael Enterprise offers a unique shopping experience combining Afrocentric products, innovative gadgets, stylish kitchen essentials, and reliable exchange services—delivering quality, variety, and customer satisfaction in one place. 
" />
  <meta property="og:site_name" content="Michael Enterprise" />

  <!-- <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="About DGC Financial Services" />
  <meta name="twitter:description" content="DGC offers a wide range of services for all our customers, from individuals and small businesses, to corporations and government entities. 
" />
  <meta name="twitter:site" content="@DGCBank" />
  <meta name="twitter:image" content="/assets/images/logo-01.png" />
  <meta name="twitter:creator" content="@DGCBank" /> -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
  <!-- Bootstrap Css -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <!-- SlickNav Css -->
  <link href="/assets/css/slicknav.min.css" rel="stylesheet">
  <!-- Swiper Css -->
  <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
  <!-- Font Awesome Icon Css-->
  <link href="/assets/css/all.css" rel="stylesheet" media="screen">
  <!-- Animated Css -->
  <link href="/assets/css/animate.css" rel="stylesheet">
  <!-- Magnific Popup Core Css File -->
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <!-- Mouse Cursor Css File -->
  <link rel="stylesheet" href="/assets/css/mousecursor.css">
  <!-- Main Custom Css -->
  <link href="/assets/css/custom.css" rel="stylesheet" media="screen">
  <!-- Smartsupp Live Chat script -->
  <script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '7a1b2eb2f432cd25169fab42945dff48342736a8';
    window.smartsupp || (function(d) {
      var s, c, o = smartsupp = function() {
        o._.push(arguments)
      };
      o._ = [];
      s = d.getElementsByTagName('script')[0];
      c = d.createElement('script');
      c.type = 'text/javascript';
      c.charset = 'utf-8';
      c.async = true;
      c.src = 'https://www.smartsuppchat.com/loader.js?';
      s.parentNode.insertBefore(c, s);
    })(document);
  </script>
  <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>

  <div class="gtranslate_wrapper"></div>
  <script>
    window.gtranslateSettings = {
      "default_language": "en",
      "native_language_names": true,
      "languages": ["en", "ru", "uk", "ar", "zh-CN", "zh-TW", "nl", "es", "fr", "pt"],
      "wrapper_selector": ".gtranslate_wrapper",
      "alt_flags": {
        "en": "usa"
      }
    }
  </script>
  <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>

  <style>
    /* Modal container (hidden by default) */
    .modal {
      display: none;
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.8);
      justify-content: center;
      align-items: center;
      color: white;
    }

    .modal-content {
      text-align: center;
    }

    .close-btn {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 30px;
      cursor: pointer;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
    }

    .close-modal-hover {
      background-color: #eb9202;
    }

    .close-modal-hover:hover {
      background-color: #5f1303;
    }
  </style>

</head>

<body>

  <!-- Preloader Start -->
  <div class="preloader">
    <div class="loading-container">
      <div class="loading"></div>
      <div id="loading-icon"><img src="/assets/images/favmike.png" alt=""></div>
    </div>
  </div>
  <!-- Preloader End -->

  <!-- Header Start -->
  <header class="main-header">
    <div class="header-sticky">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <!-- Logo Start -->
          <a class="navbar-brand" href="/">
            <img style="width: 130px; height: auto;" src="/assets/images/logo-02.png" alt="Logo">
          </a>
          <!-- Logo End -->

          <!-- Main Menu Start -->
          <div class="collapse navbar-collapse main-menu">
            <div class="nav-menu-wrapper">
              <ul class="navbar-nav mr-auto" id="menu">
                <li class="nav-item"><a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                <li class="nav-item"><a class="nav-link" target="_blank" href="/afro-shop/index">Afro Shop</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:void(0);">Gadgets</a></li>
                <li class="nav-item"><a class="nav-link" target="_blank" href="/michael-kitchen/index" <%= kitchen === null ? 'aria-disabled="true"' : '' %>>Kitchen</a></li>
                <li class="nav-item"><a class="nav-link" target="_blank" href="/exchange/index">Currency Exchange</a></li>
                
                <li class="nav-item highlighted-menu"><a class="nav-link" href="/contact">Contact Us</a></li>
                <% if(!user){ %>
                <li class="nav-item"><a class="nav-link" href="/sign-in">Sign In</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                <% } %>
              </ul>
            </div>
            <!-- Let’s Start Button Start -->
            <div class="header-btn d-inline-flex">
              <a href="/contact" class="btn-default">Contact Us</a>
            </div>
            <!-- Let’s Start Button End -->
          </div>
          <!-- Main Menu End -->
          <div class="navbar-toggle" style="background-color: #eb9202; padding: 5px; border-radius: 5px;"></div>
        </div>
      </nav>
      <div class="responsive-menu"></div>
    </div>
  </header>
  <!-- Header End -->