<!-- Footer Start -->
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <!-- About Footer Start -->
        <div class="about-footer">
          <!-- Footer Logo Start -->
          <div class="footer-logo">
            <figure>
              <img style="width: 170px; height: auto;" src="/assets/images/logo-02.png" alt="">
            </figure>
          </div>
          <!-- Footer Logo End -->

          <!-- Footer Content Start -->
          <div class="footer-content">
            <p style="font-size: large;">Your gateway to convenience...</p>
          </div>
          <!-- Footer Content End -->
        </div>

        <!-- About Footer End -->
      </div>

      <div class="col-lg-3 col-md-4 col-12">
        <!-- Footer Quick Links Start -->
        <div class="footer-links">
          <h3 style="color: white;">our services</h3>
          <ul>
            <li><a href="/afro-shop/index">Afro Shop</a></li>
            <li><a href="javascript:void(0);">Gadgets</a></li>
            <li><a href="/michael-kitchen/index">kitchen</a></li>
            <li><a href="/exchange/index">Exchange</a></li>
          </ul>
        </div>
        <!-- Footer Quick Links End -->
      </div>

      <div class="col-lg-3 col-md-4 col-12">
        <!-- Footer Links Start -->
        <div class="footer-links">
          <h3 style="color: white;">Pages</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">about us</a></li>
            <li><a href="/contact">contact us</a></li>
          </ul>
        </div>
        <!-- Footer Links End -->
      </div>

      <div class="col-lg-3 col-md-4 col-12">
        <!-- Footer Contact Info Box Start -->
        <div class="footer-links footer-contact-box">
          <h3 style="color: white;">contact us</h3>
          <!-- Info Box Start -->
          <div class="footer-info-box">
            <!-- Icon Box Start -->
            <div class="icon-box">
              <img src="/assets/images/icon-phone.svg" alt="">
            </div>
            <!-- Icon Box End -->
            <p><a style="color: white;" href="tel:+79954459255">+79954459255</a></p>
          </div>
          <!-- Info Box End -->

          <!-- Info Box Start -->
          <div class="footer-info-box">
            <!-- Icon Box Start -->
            <div class="icon-box">
              <img src="/assets/images/icon-mail.svg" alt="">
            </div>
            <!-- Icon Box End -->
            <p><a style="color: white;" href="mailto:support@michael-enterprise.com">support@michael-enterprise.com</a></p>
          </div>
          <!-- Info Box End -->

          <!-- Info Box Start -->
          <div class="footer-info-box">
            <!-- Icon Box Start -->
            <div class="icon-box">
              <img src="/assets/images/icon-location.svg" alt="">
            </div>
            <!-- Icon Box End -->
            <p><a style="color: white;" href="https://yandex.com/maps/?text=47.243990,39.801900&si=4v43ct1phxuvzke23uqp5f8reg">Берберовская 6с2, Rostov on Don, Russia.</a></p>
          </div>
          <!-- Info Box End -->
        </div>
        <!-- Footer Contact Info Box End -->
      </div>
    </div>

    <!-- Footer Copyright Section Start -->
    <div class="footer-copyright">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-7">
          <!-- Footer Copyright Start -->
          <div class="footer-copyright-text">
            <p>Copyright © 2024 Michael Enterprise. All Rights Reserved.</p>
          </div>
          <!-- Footer Copyright End -->
        </div>

        <div class="col-lg-6 col-md-5">
          <!-- Footer Social Link Start -->
          <div class="footer-social-links">
            <ul>
              <li><a target="_blank" href="https://www.instagram.com/michael_enterprise?igsh=d3EzMTAyZ3VpZHdl"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a target="_blank" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a target="_blank" href="https://vk.com/club227320115"><i class="fa-brands fa-vk"></i></a></li>
              <li><a target="_blank" href="https://wa.me/+79954459255"><i class="fa-brands fa-whatsapp"></i></a></li>
              <li><a target="_blank" href="https://t.me/micenterprise"><i class="fa-brands fa-telegram"></i></a></li>
            </ul>
          </div>
          <!-- Footer Social Link End -->
        </div>
      </div>
    </div>
    <!-- Footer Copyright Section End -->
  </div>
</footer>
<!-- Footer End -->

<div id="fullPageModal" class="modal">
  <div class="close-btn" onclick="closeSignModal()">×</div>
  <div class="modal-content" style="background: transparent; opacity: 100%;">
    <div class="hero-content-body wow fadeInUp" data-wow-delay="0.5s">
      <a href="/sign-in" class="btn-default">Sign In</a>
    </div>

    <div style="height: 20px;"></div>

    <div class="hero-content-body wow fadeInUp" data-wow-delay="0.75s">
      <a href="/register" class="btn-default">Sign Up</a>
    </div>

    <div style="height: 150px;"></div>

    <div class="hero-content-body wow fadeInUp" data-wow-delay="1s">
      <a class="close-modal-hover" style="padding: 7px 10px; color: white; border-radius: 5px;" onclick="closeSignModal()" href="javascript:void(0);">Close</a>
    </div>
  </div>
</div>

<script>
  function openSignModal() {
    document.getElementById("fullPageModal").style.display = "flex";
  }

  function closeSignModal() {
    document.getElementById("fullPageModal").style.display = "none";
  }
</script>

<!-- Jquery Library File -->
<script src="/assets/js/jquery-3.7.1.min.js"></script>
<!-- Bootstrap js file -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Validator js file -->
<script src="/assets/js/validator.min.js"></script>
<!-- SlickNav js file -->
<script src="/assets/js/jquery.slicknav.js"></script>
<!-- Swiper js file -->
<script src="/assets/js/swiper-bundle.min.js"></script>
<!-- Counter js file -->
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<!-- Magnific js file -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- SmoothScroll -->
<script src="/assets/js/SmoothScroll.js"></script>
<!-- Parallax js -->
<script src="/assets/js/parallaxie.js"></script>
<!-- MagicCursor js file -->
<script src="/assets/js/gsap.min.js"></script>
<!-- <script src="/assets/js/magiccursor.js"></script> -->
<!-- Text Effect js file -->
<script src="/assets/js/SplitText.js"></script>
<script src="/assets/js/ScrollTrigger.min.js"></script>

<!-- Add this JavaScript snippet at the end of your HTML body or inside a script tag -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Show the modal automatically after page load
    setTimeout(function() {
      const modal = new bootstrap.Modal(document.getElementById('myModal-1'));
      modal.show();
    }, 2000); // Adjust the delay as needed (1000 ms = 1 second)
  });
</script>
<!-- Wow js file -->
<script src="/assets/js/wow.js"></script>
<!-- Main Custom js file -->
<script src="/assets/js/function.js"></script>
<!-- <script src="../../assets/js/theme-panel.js"></script> -->

<!-- header style two End -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/assets/js/api.js"></script>
</body>

</html>