<!-- Modal -->
<div id="proteinModal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); z-index: 1000;">
  <div class="responsive-modal">
    <span onclick="closeProteinModal()" style="margin-left: 95%; color: white; background-color: #5f1303; padding: 5px 10px; cursor: pointer; border-radius: 5px;">x</span>
    <br>
    <div class="row" style="padding: 0 5%;">
      <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <div class="dishes-thumb">
          <a href="" class="modal-image-url">
            <img class="modal-image-src" src="" style="width: 250px; height: auto; margin: 20px 0; border-radius: 15px; object-fit: cover;" alt="thumb">
            <!-- <div class="circle-shape"><img class="cir36" src="/assets/img/food-items/circleShape.png" alt="shape"></div> -->
          </a>
          <a href="" class="modal-name-url">
            <p class="modal-product-name" style="font-size: larger; color: #5f1303; font-weight: bold;"></p>
          </a>

        </div>
      </div>
      <div class="col-12 col-lg-6 col-md-6 col-sm-12 modal-description" style="display: block; text-align: justify; padding: 10px; box-sizing: border-box;">

      </div>

    </div>
    <h3 style="margin-bottom: 20px; text-align: center; color: black; text-decoration: underline;">Add Proteins

    </h3>
    <div id="proteinList" style="max-height: 300px; overflow-y: auto; margin-bottom: 20px;">
      <!-- Protein items will be dynamically added here -->
    </div>
    <div class="protein-total">
      <p style="font-weight: bold;">Total: ₽<span></span></p>
    </div>
    <div style="display: flex; justify-content: center;">
      <button class="add-to-cart-with-protein-btn" style="width: fit-content; color: #5f1303; border: #5f1303 1px solid; padding: 5px 15px; border-radius: 5px;">Add To Cart</button>
    </div>
  </div>
</div>

<!-- Footer Section    S T A R T -->
<footer class="footer-section bg-title fix">
  <div class="footer-widgets-wrapper">
    <div class="shape1 float-bob-y d-none d-xxl-block"><img src="/assets/img/shape/footerShape1_1.png" alt="shape"></div>
    <div class="shape2 d-none d-xxl-block"><img src="/assets/img/shape/footerShape1_2.png" alt="shape"></div>
    <div class="shape3 d-none d-xxl-block"><img src="/assets/img/shape/footerShape1_3.png" alt="shape"></div>
    <div class="shape4  d-none d-xxl-block"><img src="/assets/img/shape/footerShape1_4.png" alt="shape"></div>
    <div class="container">
      <div class="footer-top">
        <div class="row gy-4">
          <div class="col-lg-4">
            <div class="fancy-box">
              <div class="item1"><i class="fa-solid fa-location-dot"></i></div>
              <div class="item2">
                <h6>address</h6>
                <p><a style="color: white;" href="https://yandex.com/maps/?text=47.243990,39.801900&si=4v43ct1phxuvzke23uqp5f8reg">Берберовская 6с2, Rostov on Don, Russia.</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-start justify-content-lg-end">
            <div class="fancy-box">
              <div class="item1"><i class="fa-solid fa-envelope"></i></div>
              <div class="item2">
                <h6>send email</h6>
                <p><a style="color: white;" href="mailto:support@michael-enterprise.com">support@michael-enterprise.com</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-start justify-content-lg-end">
            <div class="fancy-box">
              <div class="item1"><i class="fa-solid fa-phone-volume"></i></div>
              <div class="item2">
                <h6>call</h6>
                <p><a style="color: white;" href="tel:+79954459255">+79954459255</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
          <div class="single-footer-widget">
            <div class="widget-head">
              <a href="/">
                <img style="width: 150px; height: auto;" src="/assets/images/logo-02.png" alt="logo-img">
              </a>
            </div>
            <div class="footer-content">
              <p>
                Your gateway to convenience...
              </p>
              <div class="social-icon d-flex align-items-center">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="https://www.instagram.com/michael_enterprise?igsh=d3EzMTAyZ3VpZHdl"><i class="fa-brands fa-instagram"></i></a>
                <a target="_blank" href="https://vk.com/club227320115"><i class="fa-brands fa-vk"></i></a>
                <a target="_blank" href="https://wa.me/+79954459255"><i class="fa-brands fa-whatsapp"></i></a>
                <a target="_blank" href="https://t.me/micenterprise"><i class="fa-brands fa-telegram"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 ps-xl-5 wow fadeInUp" data-wow-delay=".4s">
          <div class="single-footer-widget">
            <div class="widget-head">
              <h3>Quick Links</h3>
            </div>
            <ul class="list-area">
              <li>
                <a href="/afro-shop/index">
                  <i class="fa-solid fa-chevrons-right"></i>
                  Afro Shop
                </a>
              </li>
              <li>
                <a href="/michael-gadgets/index">
                  <i class="fa-solid fa-chevrons-right"></i>
                  Gadgets
                </a>
              </li>
              <li>
                <a href="/michael-kitchen/index">
                  <i class="fa-solid fa-chevrons-right"></i>
                  Kitchen
                </a>
              </li>
              <li>
                <a href="/exchange/index">
                  <i class="fa-solid fa-chevrons-right"></i>
                  Exchange
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 ps-xl-5 wow fadeInUp" data-wow-delay=".4s">
          <div class="single-footer-widget">
            <div class="widget-head">
              <h3>Pages</h3>
            </div>
            <ul class="list-area">
              <li>
                <a href="/michael-kitchen/index">
                  <i class="fa-solid fa-chevrons-right"></i>
                  Home
                </a>
              </li>
              <li>
                <a href="/michael-kitchen/menu">
                  <i class="fa-solid fa-chevrons-right"></i>
                  Menu
                </a>
              </li>
              <li>
                <a href="/michael-kitchen/shop">
                  <i class="fa-solid fa-chevrons-right"></i>
                  Shop
                </a>
              </li>
              <li>
                <a href="/michael-kitchen/faqs">
                  <i class="fa-solid fa-chevrons-right"></i>
                  Faq
                </a>
              </li>
              <li>
                <a href="/michael-kitchen/contact-us">
                  <i class="fa-solid fa-chevrons-right"></i>
                  Contact Us
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 ps-xl-5 wow fadeInUp" data-wow-delay=".4s">
          <div class="single-footer-widget">
            <div class="widget-head">
              <h3>Contact Us</h3>
            </div>
            <ul class="list-area">
              <li class="mb-2">
                Everyday: <span class="text-theme-color2"> 9am - 10pm </span>
              </li>
              <!-- <li>
                Saturday: <span class="text-theme-color2"> 8am – 12am </span>
              </li> -->
            </ul>
            <form class="mt-4">
              <div class="form-control">
                <input class="email" type="email" placeholder="Your email address">
                <button disabled class="submit-btn"><i class="fa-solid fa-arrow-right-long"></i></button>
              </div>
              <!-- <div class="form-control style2 mt-3">
                <input id="checkbox" name="checkbox" type="checkbox">
                <label for="checkbox">I agree to the <a href="contact.html">Privacy Policy.
                  </a></label>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-wrapper d-flex align-items-center justify-content-between">
        <p class="wow fadeInLeft" data-wow-delay=".3s">
          © All Copyright 2024 by <a href="/">Michael Enterprise</a>
        </p>
        <!-- <ul class="brand-logo wow fadeInRight" data-wow-delay=".5s">
          <li>
            <a class="text-white" href="contact.html">
              Terms & Condition
            </a>
          </li>
          <li>
            <a class="text-white" href="contact.html">
              Privacy Policy
            </a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</footer>

<!--<< All JS Plugins >>-->
<script src="/assets/js/jquery-3.7.1.min.js"></script>
<!--<< Bootstrap Js >>-->
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<!--<< Waypoints Js >>-->
<script src="/assets/js/jquery.waypoints.js"></script>
<!--<< Counterup Js >>-->
<script src="/assets/js/jquery.counterup.min.js"></script>
<!--<< Viewport Js >>-->
<script src="/assets/js/viewport.jquery.js"></script>
<!--<< Magnific popup Js >>-->
<script src="/assets/js/magnific-popup.min.js"></script>
<!--<< Tilt Js >>-->
<script src="/assets/js/tilt.min.js"></script>
<!--<< Swiper Slider Js >>-->
<script src="/assets/js/swiper-bundle.min.js"></script>
<!--<< MeanMenu Js >>-->
<script src="/assets/js/jquery.meanmenu.min.js"></script>
<!--<< Wow Animation Js >>-->
<script src="/assets/js/wow.min.js"></script>
<!--<< Nice Select Js >>-->
<script src="/assets/js/nice-select.min.js"></script>
<!--<< Main.js >>-->
<script src="/assets/js/main2.js"></script>

<!-- header style two End -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/assets/js/api-kitchen.js"></script>

</body>

</html>