<%- include('partials/adminDashboardHead.ejs') %>

<div class="nk-content nk-content-fluid">
  <div class="container-xl wide-xl">
    <div class="nk-content-body">
      <div class="nk-block-head">
        <div class="nk-block-between">
          <div class="nk-block-head-content">
            <h4 class="nk-block-title">Admin Dashboard</h4>
          </div>
        </div>
      </div>
      <div class="nk-block">
        <div class="row g-gs">
          <div class="col-sm-6 col-xxl-3">
            <div class="card card-full">
              <div class="card-inner">
                <div class="position-absolute end-0 top-0 me-4 mt-4">
                  <p style="font-size: 25px; font-weight: bold;">20</p>
                </div>
                <div class="user-avatar text-primary bg-primary-dim mb-3"><em class="icon ni ni-users-fill"></em></div>
                <h5 class="fs-4">Registered Users</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xxl-3">
            <div class="card card-full">
              <div class="card-inner">
                <div class="position-absolute end-0 top-0 me-4 mt-4">
                  <p style="font-size: 25px; font-weight: bold;">20</p>
                </div>
                <div class="user-avatar text-blue bg-blue-dim mb-3"><em class="icon ni ni-clock-fill"></em></div>
                <h5 class="fs-4">Pending Orders</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xxl-3">
            <div class="card card-full">
              <div class="card-inner">
                <div class="position-absolute end-0 top-0 me-4 mt-4">
                  <p style="font-size: 25px; font-weight: bold;">20</p>
                </div>
                <div class="user-avatar text-danger bg-danger-dim mb-3"><em class="icon ni ni-layers-fill"></em></div>
                <h5 class="fs-4">All Orders</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xxl-3">
            <div class="card card-full">
              <div class="card-inner">
                <div class="position-absolute end-0 top-0 me-4 mt-4">
                  <p style="font-size: 25px; font-weight: bold;">20</p>
                </div>
                <div class="user-avatar text-purple bg-purple-dim  mb-3"><em class="icon ni ni-chat-fill"></em></div>
                <h5 class="fs-4">Pending Supports</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xxl-3">
            <div class="card card-full">
              <div class="card-inner">
                <div class="position-absolute end-0 top-0 me-4 mt-4">
                  <p style="font-size: 25px; font-weight: bold;">20</p>
                </div>
                <div class="user-avatar text-purple bg-purple-dim  mb-3"><em class="icon ni ni-layers-fill"></em></div>
                <h5 class="fs-4">Out of Stock Items</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/adminDashboardFooter.ejs') %>