<%- include('partials/authPageHead.ejs') %>
<h3 class="title">Go to your email and confirm your email address</h3>
</div>
</div>
</div>
</div>
</div>
<!-- rts register area end -->

<%- include('partials/authPageFooter.ejs') %>