<%- include('partials/adminDashboardHead.ejs') %>

<div class="nk-content nk-content-fluid">
  <div class="container-xl wide-xl">
    <div class="nk-content-body">
      <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
          <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Add Currency</h3>
          </div>
        </div>
      </div>
      <div class="nk-block">
        <div class="card">
          <div class="d-flex justify-content-center align-items-center" style="padding-top: 50px; padding-bottom: 50px;">
            <form class="add-currency-form">
              <div class="wide-xs w-100">
                <div class="row g-3">
                  <div class="col-12">
                    <div class="form-group"><label class="form-label" for="currencyCode">Currency Code</label>
                      <div class="form-control-wrap"><input class="form-control" type="text" id="currencyCode" placeholder="'NGN', 'RUB',..." /></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group"><label class="form-label" for="currencyName">Currency Name</label>
                      <div class="form-control-wrap"><input class="form-control" type="text" id="currencyName" placeholder="Currency Name" /></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group"><label class="form-label" for="currencySymbol">Currency Symbol</label>
                      <div class="form-control-wrap"><input class="form-control" type="text" id="currencySymbol" placeholder="'$', '₽'..." /></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div style="margin-top: 15px;" class="col-12">
                      <div class="form-group">
                        <button class="btn btn-primary btn-block add-currency-btn">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/adminDashboardFooter.ejs') %>