<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Grocery, Store, stores">
  <title>Michael Enterprise | <%= title %></title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/fav.png">
  <!-- plugins css -->
  <link rel="stylesheet preload" href="/assets/css/plugins.css" as="style">
  <link rel="stylesheet preload" href="/assets/css/style.css" as="style">

  <div class="gtranslate_wrapper"></div>
  <script>
    window.gtranslateSettings = {
      "default_language": "en",
      "native_language_names": true,
      "languages": ["en", "ru", "uk", "ar", "zh-CN", "zh-TW", "nl", "es", "fr", "pt"],
      "wrapper_selector": ".gtranslate_wrapper",
      "alt_flags": {
        "en": "usa"
      }
    }
  </script>
  <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>

</head>

<body>


  <!-- rts register area start -->
  <div class="rts-register-area rts-section-gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="registration-wrapper-1">
            <h3 style="text-align: center;" class="title">Email confirmed successfully! <br>
              <a href="/sign-in" style="background-color: #9B250B; border: #9B250B;" class="btn btn-primary btn-lg">
                  Sign In
              </a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- rts register area end -->

  <%- include('partials/authPageFooter.ejs') %>