<%- include('partials/authPageHead.ejs') %>
<h3 style="text-align: center;" class="title">Email confirmed successfully! <br>
  <a href="/sign-in" style="background-color: #5F1303; border: #5F1303;" class="btn btn-primary btn-lg">
    Sign In
  </a>
</h3>
</div>
</div>
</div>
</div>
</div>
<!-- rts register area end -->

<%- include('partials/authPageFooter.ejs') %>