<%- include('partials/kitchenHeader.ejs') %>

<!-- Breadcumb Section   S T A R T -->
<div class="breadcumb-section">
  <div class="breadcumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcumb-content">
            <h1 class="breadcumb-title">404 error page</h1>
            <ul class="breadcumb-menu">
              <li><a href="/">Home </a></li>
              <li class="text-white">/</li>
              <li class="active">404 error page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Error Section    S T A R T -->
<div class="error-section section-padding fix">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="error-wrapper text-center">
          <img class="img-fluid" src="/assets/img/bg/error.png" alt="error-img">
          <h2>Sorry we cant find a page you’re looking for</h2>
          <a class="theme-btn" href="index.html">Back To Home Page <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('partials/kitchenFooter.ejs') %>