<%- include('partials/kitchenHeader.ejs') %>

<!-- Breadcumb Section   S T A R T -->
<div class="breadcumb-section">
  <div class="breadcumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcumb-content">
            <h1 class="breadcumb-title">Faq</h1>
            <ul class="breadcumb-menu">
              <li><a href="/">Home</a></li>
              <li class="text-white">/</li>
              <li class="active">Faq</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Faq Section    S T A R T -->
<div class="faq-section fix section-padding">
  <div class="container">
    <div class="title-area mb-45">
      <div class="sub-title text-center wow fadeInUp" data-wow-delay="0.5s">
        <img class="me-1" src="/assets/img/icon/titleIcon.svg" alt="icon">Faq<img class="ms-1" src="/assets/img/icon/titleIcon.svg" alt="icon">
      </div>
      <div class="title wow fadeInUp" data-wow-delay="0.7s">
        frequently ask question
      </div>
    </div>
    <div class="row gx-60">
      <div class="col-xl-5">
        <div class="faq-thumb w-100 h-100 fix rounded-3">
          <img class="w-100 h-100 rounded-3" src="/assets/img/dishes/burger.png" alt="thumb">
        </div>
      </div>
      <div class="col-xl-7">
        <div class="faq-content style-1 mt-5">
          <div class="faq-accordion">
            <div class="accordion" id="accordion">
              <div class="accordion-item mb-3 wow fadeInUp" data-wow-delay=".3s">
                <h5 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="true" aria-controls="faq1">
                    Do you offer delivery or takeaway?
                  </button>
                </h5>
                <div id="faq1" class="accordion-collapse collapse" data-bs-parent="#accordion">
                  <div class="accordion-body">
                    Yes, we offer both! Order online or call us at <a href="tel:+79954459255">+79954459255</a>.
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-3 wow fadeInUp" data-wow-delay=".5s">
                <h5 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                    Can I make a reservation?
                  </button>
                </h5>
                <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#accordion">
                  <div class="accordion-body">
                    Yes, please call <a href="tel:+79954459255">+79954459255</a> or use our online booking system.
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-3 wow fadeInUp" data-wow-delay=".7s">
                <h5 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                    Where are you located?
                  </button>
                </h5>
                <div id="faq3" class="accordion-collapse show" data-bs-parent="#accordion">
                  <div class="accordion-body">
                    We’re at <a href="https://yandex.com/maps/?text=47.243990,39.801900&amp;si=4v43ct1phxuvzke23uqp5f8reg">Берберовская 6с2, Rostov on Don, Russia.</a>. Parking is available nearby.
                  </div>
                </div>
              </div>
              <div class="accordion-item mb-3 wow fadeInUp" data-wow-delay=".7s">
                <h5 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                    What payment methods do you accept?
                  </button>
                </h5>
                <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#accordion">
                  <div class="accordion-body">
                    We accept bank transfer.
                  </div>
                </div>
              </div>
              <!-- <div class="accordion-item wow fadeInUp" data-wow-delay=".7s">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false"
                                            aria-controls="faq5">
                                            How can I contact you?
                                        </button>
                                    </h5>
                                    <div id="faq5" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            Reach us at [insert phone/email] or visit our websi.
                                        </div>
                                    </div>
                                </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('partials/kitchenFooter.ejs') %>