<%- include('partials/authPageHead.ejs') %>

<h3 class="title">Forgot Password</h3>
<form class="registration-form form-forgot-password">
  <div class="input-wrapper">
    <label for="email">Email*</label>
    <input type="email" id="email">
  </div>
  <button class="rts-btn btn-primary btn--forgot">Send Password Reset Token</button>
</form>
</div>
</div>
</div>
</div>
</div>
<!-- rts register area end -->

<%- include('partials/authPageFooter.ejs') %>