<%- include('partials/landingPageHead.ejs') %>

  <div class="background-light-gray-color rts-section-gap bg_light-1 pt_sm--20">
    <!-- rts banner area start -->
    <h2 style="text-align: center;">Michael Afro Shop</h2>
    <div class="rts-banner-area-one mb--30">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="category-area-main-wrapper-one">
              <div class="swiper mySwiper-category-1 swiper-data" data-swiper='{
                                "spaceBetween":1,
                                "slidesPerView":1,
                                "loop": true,
                                "speed": 2000,
                                "autoplay":{
                                    "delay":"4000"
                                },
                                "navigation":{
                                    "nextEl":".swiper-button-next",
                                    "prevEl":".swiper-button-prev"
                                },
                                "breakpoints":{
                                "0":{
                                    "slidesPerView":1,
                                    "spaceBetween": 0},
                                "320":{
                                    "slidesPerView":1,
                                    "spaceBetween":0},
                                "480":{
                                    "slidesPerView":1,
                                    "spaceBetween":0},
                                "640":{
                                    "slidesPerView":1,
                                    "spaceBetween":0},
                                "840":{
                                    "slidesPerView":1,
                                    "spaceBetween":0},
                                "1140":{
                                    "slidesPerView":1,
                                    "spaceBetween":0}
                                }
                            }'>
                <div class="swiper-wrapper">
                  <!-- single swiper start -->
                  <div class="swiper-slide">
                    <div class="banner-bg-image bg_image bg_one-banner  ptb--120 ptb_md--80 ptb_sm--60">
                      <div class="banner-one-inner-content">
                        <span class="pre">Get up to 30% off on your first $150 purchase</span>
                        <h1 class="title">
                          Do not miss our amazing <br>
                          grocery deals
                        </h1>
                        <a href="/afro-shop" class="rts-btn btn-primary radious-sm with-icon">
                          <div class="btn-text">
                            Shop Now
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- single swiper start -->
                  <!-- single swiper start -->
                  <div class="swiper-slide">
                    <div class="banner-bg-image bg_image bg_one-banner two  ptb--120 ptb_md--80 ptb_sm--60">
                      <div class="banner-one-inner-content">
                        <span class="pre">Get up to 30% off on your first $150 purchase</span>
                        <h1 class="title">
                          Do not miss our amazing <br>
                          grocery deals
                        </h1>
                        <a href="/afro-shop" class="rts-btn btn-primary radious-sm with-icon">
                          <div class="btn-text">
                            Shop Now
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- single swiper start -->
                </div>

                <button class="swiper-button-next"></button>
                <button class="swiper-button-prev"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- rts banner area end -->
    <!-- rts category area start -->
    <div class="rts-category-area-one">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="category-area-main-wrapper-one">
              <div class="swiper mySwiper-category-1 swiper-data" data-swiper='{
                            "spaceBetween":12,
                            "slidesPerView":10,
                            "loop": true,
                            "speed": 1000,
                            "autoplay": {
                              "delay": 3000,
                              "disableOnInteraction": false
                            },
                            "breakpoints":{
                            "0":{
                                "slidesPerView":2,
                                "spaceBetween": 12},
                            "320":{
                                "slidesPerView":2,
                                "spaceBetween":12},
                            "480":{
                                "slidesPerView":3,
                                "spaceBetween":12},
                            "640":{
                                "slidesPerView":4,
                                "spaceBetween":12},
                            "840":{
                                "slidesPerView":4,
                                "spaceBetween":12},
                            "1140":{
                                "slidesPerView":10,
                                "spaceBetween":12}
                            }
                        }'>
                <div class="swiper-wrapper">
                  <!-- single swiper start -->
                  <div class="swiper-slide">
                    <a href="/afro-shop" class="single-category-one">
                      <img src="/assets/images/category/01.png" alt="category">
                      <p>Organic Vegetable</p>
                    </a>
                  </div>
                  <!-- single swiper start -->
                  <div class="swiper-slide">
                    <a href="/afro-shop" class="single-category-one">
                      <img src="/assets/images/category/02.png" alt="category">
                      <p>Organic Vegetable</p>
                    </a>
                  </div>
                  <!-- single swiper start -->
                  <div class="swiper-slide">
                    <a href="/afro-shop" class="single-category-one">
                      <img src="/assets/images/category/03.png" alt="category">
                      <p>Organic Vegetable</p>
                    </a>
                  </div>
                  <!-- single swiper start -->
                  <div class="swiper-slide">
                    <a href="/afro-shop" class="single-category-one">
                      <img src="/assets/images/category/04.png" alt="category">
                      <p>Organic Vegetable</p>
                    </a>
                  </div>
                  <!-- single swiper start -->
                  <div class="swiper-slide">
                    <a href="/afro-shop" class="single-category-one">
                      <img src="/assets/images/category/05.png" alt="category">
                      <p>Organic Vegetable</p>
                    </a>
                  </div>
                  <!-- single swiper start -->
                  <div class="swiper-slide">
                    <a href="/afro-shop" class="single-category-one">
                      <img src="/assets/images/category/06.png" alt="category">
                      <p>Organic Vegetable</p>
                    </a>
                  </div>
                  <!-- single swiper start -->
                  <div class="swiper-slide">
                    <a href="/afro-shop" class="single-category-one">
                      <img src="/assets/images/category/07.png" alt="category">
                      <p>Organic Vegetable</p>
                    </a>
                  </div>
                  <!-- single swiper start -->
                  <div class="swiper-slide">
                    <a href="/afro-shop" class="single-category-one">
                      <img src="/assets/images/category/08.png" alt="category">
                      <p>Organic Vegetable</p>
                    </a>
                  </div>
                  <!-- single swiper start -->
                  <div class="swiper-slide">
                    <a href="/afro-shop" class="single-category-one">
                      <img src="/assets/images/category/09.png" alt="category">
                      <p>Organic Vegetable</p>
                    </a>
                  </div>
                  <!-- single swiper start -->
                  <div class="swiper-slide">
                    <a href="/afro-shop" class="single-category-one">
                      <img src="/assets/images/category/10.png" alt="category">
                      <p>Organic Vegetable</p>
                    </a>
                  </div>
                  <!-- single swiper start -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- rts category area end -->
  </div>

<%- include('partials/landingPageFooter.ejs') %>