<%- include('partials/authPageHead.ejs') %>
<h3 class="title">Login Into Your Account</h3>
<form class="registration-form form-login">
  <div class="input-wrapper">
    <label for="email">Email*</label>
    <input type="email" id="email">
  </div>
  <div class="input-wrapper">
    <label for="password">Password*</label>
    <input type="password" id="password">
  </div>
  <p><a href="/forgot-password">Forgot Password?</a></p>

  <button class="rts-btn btn-primary login-btn">Sign In</button>
  <div class="another-way-to-registration">
    <p>Don't Have Account? <a href="/register">Register</a></p>
  </div>
</form>
</div>
</div>
</div>
</div>
</div>
<!-- rts register area end -->

<%- include('partials/authPageFooter.ejs') %>