<%- include('partials/authPageHead.ejs') %>
<h3 class="title">Reset Password</h3>
<form class="registration-form form-reset-password">

  <div class="input-wrapper">
    <label for="password">Password*</label>
    <input type="password" id="password">
  </div>
  <div class="input-wrapper">
    <label for="passwordConfirm">Confirm Password*</label>
    <input type="password" id="passwordConfirm">
  </div>
  <button class="rts-btn btn-primary btn--reset">Reset Password</button>
</form>
</div>
</div>
</div>
</div>
</div>
<!-- rts register area end -->

<%- include('partials/authPageFooter.ejs') %>