<%- include('partials/landingPageHead.ejs') %>

<!-- rts banner store area start -->
<div class="rts-banner-store-area bg_store-banner bg_image">
  <div class="container">
    <div class="row">
      <div class="col-gl-12">
        <div class="banner-content-store">
          <h1 class="title">Visit Our Stores</h1>
          <p class="disc">
            Visit our store today for an unforgettable shopping experience!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- rts banner store area end -->


<!-- rts store area start -->
<div class="rts-store-area-start rts-section-gap2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- single store area start -->

        <!-- single store area end -->
        <!-- single store area start -->
        <div class="single-store-area-start">
          <a href="store.html#" class="thumbnail">
            <img src="/assets/images/store/02.jpg" alt="store_area">
          </a>
          <div class="right-content">
            <div class="location-area">
              <div class="icon">
                <i class="fa-sharp fa-regular fa-location-dot"></i>
              </div>
              <h5 class="title">Rostov on Don, Russia Store</h5>
              <p class="disc">Берберовская 6с2, Rostov on Don, Russia.</p>
              <div class="contact-info">
                <a href="store.html#" class="number">+79514949255</a>
                <a href="store.html#">info@example.com</a>
              </div>
            </div>
            <div class="opening-hour">
              <h5 class="title">Open Hours</h5>
              <div class="single">Everyday: 9:00AM - 10:00 PM</div>
            </div>
          </div>
        </div>
        <!-- single store area end -->
        <!-- single store area start -->

        <!-- single store area end -->
      </div>
    </div>
  </div>
</div>
<!-- rts store area end -->



<%- include('partials/landingPageFooter.ejs') %>