<%- include('partials/landingPageHead.ejs') %>

<!-- rts navigation bar area start -->
<div class="rts-navigation-area-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="navigator-breadcrumb-wrapper">
          <a href="/">Home</a>
          <i class="fa-regular fa-chevron-right"></i>
          <a class="current" href="/terms-conditions">Terms & Condition</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- rts navigation bar area end -->
<div class="section-seperator">
  <div class="container">
    <hr class="section-seperator">
  </div>
</div>


<!-- Terms & Condition area start -->
<div class="rts-pricavy-policy-area rts-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="container-privacy-policy">
          <h1 class="title mb--40">Terms & Condition</h1>
          <h2 class="time">Introduction</h2>
          <p class="disc">Welcome to Michael Enterprise. By accessing and using our website, you agree to comply with and be bound by the following Terms and Conditions. Please read them carefully. If you do not agree with these terms, please do not use our website.</p>
          <h2 class="title">Changes to Terms</h2>
          <p class="disc">We reserve the right to update or modify these Terms and Conditions at any time without prior notice. Your continued use of the website constitutes acceptance of any changes. We encourage you to review these terms periodically.</p>
          <h2 class="title">Use of the Website</h2>
          <p class="disc">You agree to use our website only for lawful purposes and in accordance with these Terms and Conditions. You may not:</p>
          <ul>
            <li>
              Use the website in any way that violates applicable laws or regulations
            </li>
            <li>
              Impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation with any person or entity
            </li>
            <li>
              Engage in any activity that disrupts or interferes with the website's functionality
            </li>
          </ul>
          <h2 class="title">Account Responsibilities</h2>
          <p class="disc">
            To use certain features of our website, you may be required to create an account. You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account.
          </p>
          <h2 class="title">Product Information and Pricing</h2>
          <p class="disc">We strive to provide accurate product descriptions and pricing information. However, errors may occur, and we cannot guarantee that all information on our website is error-free. We reserve the right to correct any errors and update prices without prior notice. All prices are subject to change.</p>
          <h2 class="title">Shipping and Delivery</h2>
          <p class="disc">We will make every effort to deliver your order in a timely manner. Delivery times are estimates and may vary depending on your location and other factors. We are not liable for any delays or failures in delivery caused by events beyond our control.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Terms & Condition area end -->

<%- include('partials/landingPageFooter.ejs') %>